* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: rgba(207, 207, 207, 0.4);
}

.App {
  height: 100vh;
  overflow-y: hidden;
}

.container {
  padding: 30px;
  width: 80%;
  height: auto;
  text-align: center;
  border-radius: 21px;
  border-radius: 21px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 10px 20px #d4d4d4, 10px -10px 20px #ffffff;
  transition: all 0.3s ease 0s;
}

.container:hover {
  box-shadow: -5px 5px 5px #d4d4d4, 5px -5px 10px #ffffff;
}

.reload {
  position: absolute;
  right: 20px;
  top: 0px;
}

h1 {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  margin: 20px auto;
}

img {
  display: block;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.search {
  display: block;
}

.clearBg {
  margin-top: 5px;
}